.idea
/.htaccess
/*.txt
/*.html
~*.php
*.log
*.xml
/*.sql
Thumbs.db
.DS_Store
._.DS_Store
.ht*

local/vendor/



bitrix/activities/
bitrix/admin/
bitrix/backup/
bitrix/blocks/
bitrix/cache/
bitrix/catalog_export/
bitrix/components/bitrix/
bitrix/crontab/
bitrix/css/
bitrix/fonts/
bitrix/gadgets/
bitrix/html_pages/
bitrix/image_uploader/
bitrix/images/
bitrix/js/
bitrix/lib/
bitrix/managed_cache
bitrix/modules/*
!bitrix/modules/aspro.next/
!bitrix/modules/aspro.next.b2c/
!bitrix/modules/aspro.next.stock/
!bitrix/modules/aspro.priority/
!bitrix/modules/aspro.priority.b2g/
!bitrix/modules/defo.log1c/
bitrix/otp/
bitrix/panel/
bitrix/php_interface/dbconn.php
bitrix/php_interface/constants.php
bitrix/preset/
bitrix/public/
bitrix/services/
bitrix/sounds/
bitrix/stack_cache/
bitrix/template/
bitrix/themes/
bitrix/tmp/
bitrix/tools/
bitrix/updates/
bitrix/wizards/


bitrix/click.php
bitrix/coupon_activation.php
bitrix/footer.php
bitrix/header.php
bitrix/index.php
bitrix/license_key.php
bitrix/p3p.xml
bitrix/redirect.php
bitrix/rk.php
bitrix/rss.php
bitrix/spread.php
bitrix/stop_redirect.php
bitrix/urlrewrite.php
bitrix/virtual_file_system.php
bitrix/web.config
bitrix/.settings.php


sections_files/
backup_site/
mat_demo_files/
catalog_files/
stuff/
log/
upload/
upload.tar.gz

bitrix/design333222.log
bitrix/www/bitrix/test333222.log


bitrix/modules/aspro.next/install/wizards/aspro/next/site/services/form/sms.php
bitrix/modules/aspro.next/lang/ru/lib/property/
bitrix/modules/aspro.next/lib/phoneauth.php
bitrix/modules/aspro.next/lib/property/
bitrix/modules/aspro.priority/install/wizards/aspro/priority/site/public/ru/images/company/manufacturer/
/*.php.back*.*

*.back*


upload

/composer.phar
cpoffers/*