.idea
/.htaccess
/upload
/*.txt
/*.html
~*.php
*.log
*.xml
/*.sql
Thumbs.db
.DS_Store
._.DS_Store

.gitignore

bitrix/activities/
bitrix/admin/
bitrix/backup/
bitrix/click.php
bitrix/components/*
!bitrix/components/aspro/
!bitrix/components/defo/
bitrix/coupon_activation.php
bitrix/footer.php
bitrix/gadgets/
bitrix/header.php
bitrix/image_uploader/
bitrix/images/
bitrix/index.php
bitrix/js/
bitrix/css/
bitrix/license_key.php
bitrix/modules/*
!bitrix/modules/aspro.next/
!bitrix/modules/aspro.next.b2c/
!bitrix/modules/aspro.next.stock/
!bitrix/modules/aspro.priority/
!bitrix/modules/aspro.priority.b2g/
bitrix/otp/
bitrix/p3p.xml
bitrix/redirect.php
bitrix/rk.php
bitrix/rss.php
bitrix/sounds/
bitrix/spread.php
bitrix/stop_redirect.php
bitrix/template/
bitrix/themes/
bitrix/tmp/
bitrix/tools/
bitrix/urlrewrite.php
bitrix/virtual_file_system.php
bitrix/web.config
bitrix/wizards
bitrix/catalog_export/
bitrix/updates/
bitrix/panel/

bitrix/php_interface/dbconn.php
bitrix/php_interface/constants.php

bitrix/cache
bitrix/managed_cache
bitrix/stack_cache


backup_site/
upload/
stuff/


bitrix/.settings.php
bitrix/design333222.log
bitrix/www/bitrix/test333222.log

catalog.xml
sections.xml
