/* 14px PT Sans Caption (Default) */
body,body div.bx-yandex-map,.fancybox-title{font: 14px/22px "PT Sans Caption", Arial, sans-serif;}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6,.popup-window{font-family:"PT Sans Caption", Arial, sans-serif;}
body #headerfixed .logo-row.v2 .mega-menu table td .wrap > a>span{padding-top:23px;padding-bottom:23px;}