.more_items{
    width: 100%;
    text-align: center;
    margin-top: 40px;
}
.group_block{
    padding-top: 55px;
    margin-top: -55px;
    -webkit-background-clip: content-box;
    background-clip: content-box;
}
.floating {
    background-color: rgba(255,255,255, 0.5);
    bottom: 10px;
    display: none;
}
.fixed{
    display: block;
    position: sticky;
    top: -20px;

}