.wd_propsorter {}
	.wd_propsorter table {background:#fff; border:0; border-collapse:collapse; border-spacing:0; width:100%;}
		.wd_propsorter table td {background:transparent; padding:4px 4px 2px; vertical-align:bottom;}
		.wd_propsorter table td.cell_name {width:55%;}
		.wd_propsorter table td.cell_name:after {border-bottom:1px dotted #ccc; content:''; display:block; margin-top:-2px; position:relative;}
			.wd_propsorter table td.cell_name span {background:#fff; display:inline-block; padding-right:8px; position:relative; z-index:1;}
			.wd_propsorter table td.cell_name span:after {content:':';}
		.wd_propsorter table td.cell_value {width:45%;}
		.wd_propsorter table tr.row_header td {font-weight:bold; font-size:120%;}
		.wd_propsorter table tr.row_header + tr td {padding-top:10px;}
		.wd_propsorter table tr.row_empty td {border-bottom:0;}
		.wd_propsorter table tr.row_empty td:before {content:'\00a0\00a0'; display:block; height:1em; line-height:1em; overflow:hidden;}
