.seria_hover,
.element_hover,
.alphabet-toggle {
    cursor: pointer;
}

.another-sale_img {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
}

.alphabet-hide {
    overflow-y: auto;
}


