/* 15px/24px Open Sans */
body,body div.bx-yandex-map,.fancybox-title{font: 15px/25px "Open Sans", Arial, sans-serif;}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6,.popup-window{font-family:"Open Sans", Arial, sans-serif;}

.header-v9 .menu-row.bgcolored .mega-menu table td .wrap > a,
.header-v10 .menu-row.bgcolored .mega-menu table td .wrap > a,
.header-v11 .menu-row.bgcolored .mega-menu table td .wrap > a,
.header-v12 .menu-row.bgcolored .mega-menu table td .wrap > a{padding-top:17px;padding-bottom:18px;}