/* 14px Ubuntu (Default) */
body,body div.bx-yandex-map,.fancybox-title{font: 14px/22px "Ubuntu", Arial, sans-serif;}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6,.popup-window{font-family:"Ubuntu", Arial, sans-serif;}
body #headerfixed .logo-row.v2 .mega-menu table td .wrap > a>span{padding-top:23px;padding-bottom:23px;}
body ol{margin-left:24px;}

.header-v9 .menu-row.bgcolored .mega-menu table td .wrap > a,
.header-v10 .menu-row.bgcolored .mega-menu table td .wrap > a,
.header-v11 .menu-row.bgcolored .mega-menu table td .wrap > a,
.header-v12 .menu-row.bgcolored .mega-menu table td .wrap > a{padding-top:17px;}